.specialization{
    height: 840px;
    padding-top: 95px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.devices-position {
    width: 100%;
    height: 615px;
    padding-top: 20px;
    position: relative;
    .ipad-img {
        width: 470px;
        height: auto;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%);
        & img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .iphone-img {
            position: absolute;
            top: 139px;
            right: -95px;
            z-index: 5;
        }
    }
}

