.about{
    padding-top: 80px;
}

.title-chapter{
    text-align: center;
    padding-bottom: 38px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      background-color: #f38181;
      left: 48%;
      bottom: 1px;
    }
    .title-chapter__top{
        font-family: "Hurricane", sans-serif;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 18px;
    }
    .title-chapter__sub{
        font-size: 36px;
        font-weight: 400;
        text-align: center;
    }
}

.about-text{
    max-width: 964px;
    margin: 0 auto;
    padding-top: 44px;
    margin-bottom: 94px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.about-images{
    width: 100%;
    padding: 0px 10px 100px 0px;
    .about-items{
        display: flex;
        gap: 22px;
        justify-content: center;
        flex-wrap: nowrap;
        .about-item{
           width: 378px;
           height: 254px;
           overflow: hidden;
           cursor: pointer; 
           position: relative;
           
           &::before{
               content: "";
               position: absolute;
               width: 100%;
               height: 100%;
               top:0;
               left: 0;
               background-color: #f07b7b;
               opacity: 0;
               transition: opacity .4s ease-out;
           }
           & img{
               width: 100%;
               height: auto;
               object-fit: cover;
           }
        }
    }
}

.about-item:hover.about-item::before{
    opacity: 0.6;
 }

 .about-team{
     position: absolute;
     width: 160px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     opacity: 0;
     transition: opacity .4s ease-in-out;
     .about-item__picture{
         width: 36px;
         margin: 0 auto;
     }
     .about-item__text{
         font-size: 18px;
         text-transform: uppercase;
         font-weight: 700;
         color: #fff;
         text-align: center;
     }
 }

 .about-item:hover .about-team{
    opacity: 1;
    transition: opacity .4s ease-in-out;
}