@font-face{
    font-family: 'Montserrat';
    src: 
         url('../fonts/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat-Bold') format('ttf'),
         url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
         url('../fonts/Montserrat-Bold.eot');
    font-weight: 700;
    font-style: normal;
    font-display: swap;     
}

@font-face{
    font-family: 'Montserrat';
    
    src: 
         url('../fonts/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
         url('../fonts/Montserrat-Regular') format('ttf'),
         url('../fonts/Montserrat-Regular.eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;     
}


@font-face{
    font-family: 'Montserrat';
    src: 
      url('../fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../fonts/Montserrat-Medium.woff') format('woff'),
      url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
      url('../fonts/Montserrat-Medium') format('ttf'),
      url('../fonts/Montserrat-Medium.eot');
    font-weight: 500;
    font-style: normal;
    font-display: swap;     
}

@font-face{
    font-family: 'Montserrat';
    src: 
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
        url('../fonts/Montserrat-Light') format('ttf'),
        url('../fonts/Montserrat-Light.eot');
    font-weight: 300;
    font-style: normal;
    font-display: swap;     
}

@font-face {
    font-family: 'Hurricane';
    src: url('../fonts/Hurricane-Regular.eot'),
        url('../fonts/Hurricane-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Hurricane-Regular.woff2') format('woff2'),
        url('../fonts/Hurricane-Regular.woff') format('woff'),
        url('../fonts/Hurricane-Regular.svg#Hurricane-Regular') format('svg'),
        url('../fonts/Hurrican-Regular') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


