.works-grid {
    margin-bottom: 10px;
    .works-grid__inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 390px);
        .works-grid__item {  
          overflow: hidden;
          cursor: pointer;
          & img{
            width: 100%;
            height: 100%;
            object-fit: cover;  
            transition: all .8s;
            transform: scale(1);
            &:hover {
                transform: scale(1.2);
                transition: all .8s ease;
              }
          }         
       }
    }
}

.grid__one{
    grid-column: span 1;
    grid-row: span 1;
    order: 1;
    opacity: 0;
    transform: translateX(-100%);
    &.works-grid__item.active{
       transform: translateX(0);
       opacity: 1;
       transition: all .5s ease-in .3s;
    }
}
.grid__two{
    grid-column: span 1;
    grid-row: span 1;
    order: 2;
    transform: scale(0);
    opacity: 0;
    &.works-grid__item.active{
       opacity: 1;
       transform: scale(1);
       transition: all .5s ease-in .1s;
    }
}
.grid__three{
    grid-column: span 1;
    grid-row: span 2;
    order: 3;
    transform: translateY(40%);
    opacity: 0;
    &.works-grid__item.active{
       transform: translateY(0);
       opacity: 1;
       transition: all .5s ease-in .6s;
    }
}
.grid__four{
    grid-column: span 1;
    grid-row: span 1;
    order: 4;
    transform: translateX(100%);
    opacity: 0;
    &.works-grid__item.active{
       transform: translateX(0);
       opacity: 1;
       transition: all .5s ease-in .4s;
    }
}
.grid__five{
    grid-column: span 1;
    grid-row: span 1;
    order: 5;
    transform: translateY(40%);
    opacity: 0;
    &.works-grid__item.active{
       transform: translateY(0);
       opacity: 1;
       transition: all .5s ease-in .5s;
    }
}
.grid__six{
    grid-column: span 1;
    grid-row: span 1;
    order: 6;
    opacity: 0;
    &.works-grid__item.active{
       opacity: 1;
       transition: opacity .5s ease-in .6s;
    }
}
.grid__seven{
    grid-column: span 1;
    grid-row: span 1;
    order: 7;
    transform: translateX(70%);
    opacity: 0;
    &.works-grid__item.active{
        transform: translateX(0); 
       opacity: 1;
       transition: all .5s ease-in .7s;
    }
}

