@import "fonts";
@import "default";



.header{
    min-height: 100vh;
    background-color: adjust-hue($color: #f18080, $degrees: 0);
}
.header-top{
    display: flex;
    justify-content: space-between;
}

.header-navigation{
    display: flex;
}
.menu-main{
    display: flex;
    justify-content: space-between;
}

.header-icons{
    display: flex;
}


.menu-main__list{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}